<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1" />
<title>WeatherWiz</title>

<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|"
	rel="stylesheet" type="text/css" />
<link href="/fonts/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/weatherwiz.css" />
<link href="/css/toastr.min.css" rel="stylesheet">
</head>
<body>
	<div class="site-content">
		<div th:replace="guest/fragments/header :: header"></div>
		<div th:replace="user/fragments/header :: header"></div>

		<main class="main-content">
		<div class="fullwidth-block" data-bg-color="#1e202B">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>All Reviews</h1>
					</div>
				</div>
				<div class="row" id="divAllReviews">
					
				</div>
			</div>
		</div>
		</main>

		<div th:replace="user/fragments/footer :: footer"></div>
		<!-- .site-footer -->
	</div>

	<script type="text/javascript" src="/inbuiltJS/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/moment.js"></script>
	<script type="text/javascript" src="/inbuiltJS/jquerysession.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/toastr.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/plugins.js"></script>
	<script type="text/javascript" src="/inbuiltJS/app.js"></script>
	<script type="text/javascript" src="/customJS/common.js"></script>
	<script type="text/javascript" src="/customJS/allreviews.js"></script>
</body>

</html>